<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.proyectocvds.persistence.mybatisimpl.mappers.LibroMapper">

    <resultMap type='Libro' id='LibroResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='location' column='location'/>
        <result property='capacity' column='capacity'/>
        <result property='bookingScheduleStart' column='booking_schedule_start'/>
        <result property='bookingScheduleEnd' column='booking_schedule_end'/>
        <result property='resourceState' column='resource_state'/>
        <result property='info' column='info'/>
        <result property='author' column='author'/>
        <result property='hardCover' column='hard_cover'/>
        <result property='pages' column='pages'/>
        <result property='genero' column='genre'/>
    </resultMap>

    <select id="getResource" resultMap="LibroResult">
        SELECT
            r.name AS name,
            r.location AS location,
            l.genre AS genre,
            (SELECT c AS capacity FROM (SELECT name AS n, COUNT(name) AS c FROM RECURSO GROUP BY name) AS nc WHERE name = n) AS capacity,
            r.info AS info,
            r.id AS id,
            r.booking_schedule_start AS booking_schedule_start,
            r.booking_schedule_end AS booking_schedule_start,
            r.resource_state AS resource_state,
            l.author AS author,
            l.hard_cover AS hardCover,
            l.pages AS pages
        FROM
            RECURSO as r JOIN LIBRO as l ON r.id = l.id
        WHERE
            r.name LIKE #{recurso.name} AND
            (#{recurso.capacity} = 0 OR (SELECT c AS capacity FROM (SELECT name AS n, COUNT(name) AS c FROM RECURSO GROUP BY name) AS nc WHERE name = n) = #{recurso.capacity}) AND
            (#{recurso.location} = '' OR  r.location = #{recurso.location})
    </select>

    <select id="setNewLibro" statementType="CALLABLE">
        {CALL insert_libro(#{recurso.name}, #{recurso.location}, 'Libro', #{recurso.id}, #{recurso.info}, #{recurso.bookingScheduleStart}, #{recurso.bookingScheduleEnd}, #{recurso.resourceState}, #{recurso.author}, #{recurso.hardCover}, #{recurso.pages}, #{recurso.genero})}
    </select>
</mapper>