<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.proyectoCVDS.persistence.mybatisimpl.mappers.RecursoMapper">

    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='location' column='location'/>
        <result property='type' column='type'/>
        <result property='capacity' column='capacity'/>
        <result property='bookingScheduleStart' column='booking_schedule_start'/>
        <result property='bookingScheduleEnd' column='booking_schedule_end'/>
    </resultMap>

    <!--    PROBAR CUANDO HAYA DB   -->
    <select id="getResource" resultMap="RecursoResult">
        SELECT
            r.name AS name,
            r.location AS location,
            r.type AS type,
            r.capacity AS capacity,
            r.id AS id,
            r.booking_schedule_start AS booking_schedule_start,
            r.booking_schedule_end AS booking_schedule_start
        FROM
            Recurso as r
        WHERE
            r.name = #{name} AND t.type = #{type} ADN
            (#{capacity} = 0 OR  r.capacity = #{capacity}) AND
            (#{location} = '' OR  r.location = #{location})
    </select>

    <insert id="setNewRecurso">
        insert into Recurso (name, location, type, capacity, id, booking_schedule_start, booking_schedule_end)
        values (#{name}, #{location}, #{type}, #{capacity}, #{id}, #{bookingScheduleStart}, #{bookingScheduleEnd})
    </insert>
</mapper>