#messages {
    z-index: 1234;
    position: fixed;
    bottom: 0%;
    max-width: 25%
}

#messages .ui-messages-error-detail{
    font-size: 0.8rem !important;
}

.form-inputs {
    max-width: 15rem;
}

.form-choice-div {
    display:flex;
    margin-inline: auto;
    justify-content: space-between;
    gap: 2rem;
    margin-block: 2rem;
}

.form-div {
    background-color:#FEF9EF;
    display:flex;
    flex-direction:column;
    max-width: 50vw;
    margin-inline: auto;
    margin-block: 2rem;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: -12px 15px 24px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -12px 15px 24px 2px rgba(0, 0, 0, 0.5);
}

.reserva-popup {
    min-width: 50vw;
    border-radius: 30px !important;
}

.message-error{
    font-size: 3rem;
    padding-inline: 10rem !important;
}

.message-error>div{
    padding-block: 0.3rem !important;
}

.message-error .ui-messages-error-summary{
    font-size: 0.7rem !important;
}

#outer-reservas-popup-div{
    display:flex;
    flex-direction:column;
}

#outer-reservas-popup-div h2, #outer-reservas-popup-div p{
    padding-inline: 4rem;
}

#outer-reservas-popup-div p{
    font-weight: 600;
    color: black;
}

#inner-reservas-popup-div {
    display:flex;
    flex-direction:column;
    background-color: white;
    margin-top: 2rem;
}

.search-div {
    min-width: 80%;
}

.change-state-div {
    min-width: 10%;
}

.register-btn {
    margin: 2rem auto 1rem auto !important;
    max-width: 15rem;
}

.register-title {
    margin-inline: auto;
    font-family: Sans-serif;
}

.search-input {
    margin-bottom: 1rem;
}

label {
    margin-block: 0.5rem;
    justify-content: space-between;
    display: flex;
    padding-inline: 4rem;
    font-family: Sans-serif;
}

.btn {
    background-color: #FE6D73 !important;
    color: black !important;
    border: 1px solid #FE6D73 !important;
}
